In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

from delta import *

In [ ]:
# Create SparkSession
spark = (
    SparkSession
    .builder
    .master("local[*]")
    .config("spark.jars.packages", "io.delta:delta-spark_2.12:3.2.0")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")
    .getOrCreate()
)

In [ ]:
spark

CRIAÇÃO DAS TABELAS

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS cliente (
    cod_cliente INT,
    nome STRING,
    email STRING
) USING delta
""")

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS produto (
    cod_produto INT,
    descricao STRING,
    preco DECIMAL(10,2)
) USING delta
""")

In [ ]:
spark.sql("""
CREATE TABLE IF NOT EXISTS pedido (
    cod_pedido INT,
    cod_cliente INT,
    data_pedido DATE
) USING delta
""")

INSERT NAS TABELAS

In [ ]:
spark.sql("INSERT INTO cliente VALUES (1, 'João', 'joao@gmail.com')")
spark.sql("INSERT INTO cliente VALUES (2, 'Weslaine', 'maria@gmail.com')")

In [ ]:
spark.sql("INSERT INTO produto VALUES (101, 'Shampoo', 19.90)")
spark.sql("INSERT INTO produto VALUES (102, 'Condicionador', 21.50)")

In [ ]:
spark.sql("INSERT INTO pedido VALUES (1001, 1, DATE('2025-04-20'))")
spark.sql("INSERT INTO pedido VALUES (1002, 2, DATE('2025-04-21'))")

UPDATE NAS TABELAS

In [ ]:
spark.sql("""
UPDATE cliente
SET nome = 'João Fontanella'
WHERE cod_cliente = 1
""")

In [ ]:
spark.sql("""
UPDATE produto
SET preco = 22.99
WHERE cod_produto = 102
""")

DELET NAS TABELAS

In [ ]:
spark.sql("DELETE FROM cliente WHERE cod_cliente = 2")

In [ ]:
spark.sql("DELETE FROM pedido WHERE cod_pedido = 1002")

SELECT NAS TABELAS

In [ ]:
spark.sql("SELECT * FROM cliente").show()

In [ ]:
spark.sql("SELECT * FROM produto").show()

In [ ]:
spark.sql("SELECT * FROM pedido").show()