INICIALIZAÇÃO DO SPARK E CONFIGURAÇÕES DO ICEBERG

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

In [ ]:
spark

CRIAÇÃO DAS TABELAS

In [ ]:
spark.sql("""
CREATE TABLE local.cliente (
  cod_cliente INT,
  nome STRING
) USING iceberg
""")

In [ ]:
spark.sql("""
CREATE TABLE local.pedido (
  cod_pedido INT,
  cod_cliente INT,
  data DATE
) USING iceberg
""")

In [ ]:
spark.sql("""
CREATE TABLE local.produto (
  cod_produto INT,
  nome STRING,
  preco DOUBLE
) USING iceberg
""")

INSERTS NAS TABELAS

In [ ]:
spark.sql("""
INSERT INTO local.cliente VALUES
  (1, 'João'),
  (2, 'Weslaine')
""")

In [ ]:
spark.sql("""
INSERT INTO local.pedido VALUES
  (101, 1, DATE('2025-04-22')),
  (102, 2, DATE('2025-04-21'))
""")

In [ ]:
spark.sql("""
INSERT INTO local.produto VALUES
  (1001, 'Shampoo', 19.90),
  (1002, 'Condicionador', 24.90)
""")

UPDATE NAS TABELAS

In [ ]:
spark.sql("""
UPDATE local.cliente
SET nome = 'João V. Macam'
WHERE cod_cliente = 1
""")

In [ ]:
spark.sql("""
UPDATE local.produto
SET preco = 21.90
WHERE cod_produto = 1001
""")

DELETE NAS TABELAS

In [ ]:
spark.sql("""
DELETE FROM local.pedido
WHERE cod_pedido = 102
""")

In [ ]:
spark.sql("""
DELETE FROM local.produto
WHERE cod_produto = 1002
""")

SELECTS DE TODAS AS TABELAS

In [ ]:
spark.sql("select * from local.cliente").show()

In [ ]:
spark.sql("select * from local.pedido").show()

In [ ]:
spark.sql("select * from local.produto").show()